@import url(https://fonts.googleapis.com/css?family=Fjord+One);
article {
  margin-left: auto;
  margin-right: auto;
  width: 66%; }

body {
  background: #eeeefe;
  color: #333333;
  font-family: arial, sans;
  line-height: 1.7; }

header {
  font-size: 1.6em;
  text-align: center; }

section {
  border-top: 2px solid #dddded;
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem; }

h1, h2, h3 {
  font-family: "Fjord One", serif; }

h1 {
  font-size: 2.56em;
  line-height: 1.2; }

h2 {
  font-size: 1.6em;
  line-height: 1.4; }

h3 {
  font-size: 1em;
  line-height: 1.6; }

table {
  width: 100%; }

td, th {
  background: #ffffff;
  padding: 0.2em 0.4em;
  text-align: left; }
  td:empty, th:empty {
    display: none; }
